.heading--category-name {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 3px;
}
.category-description {
  background-color: transparent;
}
.paragraph--category-description {
  font: normal normal 300 16px/20px Montserrat;
  color: #292929;
  text-align: initial;
  padding: 2rem 0 4rem;
  margin: 0;
}
